/****************************************
GLOBAL
*****************************************/
// margin kit
$height_xxs_size: 10px;
$height_xs_size: 20px;
$height_sm_size: 50px;
$height_md_size: 100px;
$height_lg_size: 200px;

.margin-top-lg {
  margin-top: $height_lg_size/2;
  @media (min-width: $screen-md-min) {
    margin-top: $height_lg_size;
  }
}

.margin-top-md {
  margin-top: $height_md_size/2;
  @media (min-width: $screen-md-min) {
    margin-top: $height_md_size;
  }
}

.margin-top-sm {
  margin-top: $height_sm_size/2;
  @media (min-width: $screen-md-min) {
    margin-top: $height_sm_size;
  }
}

.margin-top-xs {
  margin-top: $height_xs_size/2;
  @media (min-width: $screen-md-min) {
    margin-top: $height_xs_size;
  }
}

.margin-top-xxs {
  margin-top: $height_xxs_size;
}

.margin-bottom-lg {
  margin-bottom: $height_lg_size/2;
  @media (min-width: $screen-md-min) {
    margin-bottom: $height_lg_size;
  }
}

.margin-bottom-md {
  margin-bottom: $height_md_size/2;
  @media (min-width: $screen-md-min) {
    margin-bottom: $height_md_size;
  }
}

.margin-bottom-sm {
  margin-bottom: $height_sm_size/2;
  @media (min-width: $screen-md-min) {
    margin-bottom: $height_sm_size;
  }
}

.margin-bottom-xs {
  margin-bottom: $height_xs_size/2;
  @media (min-width: $screen-md-min) {
    margin-bottom: $height_xs_size;
  }
}

.margin-bottom-xxs {
  margin-bottom: $height_xxs_size;
}

.padding-top-lg {
  padding-top: $height_lg_size/2;
  @media (min-width: $screen-md-min) {
    padding-top: $height_lg_size;
  }
}

.padding-top-md {
  padding-top: $height_md_size/2;
  @media (min-width: $screen-md-min) {
    padding-top: $height_md_size;
  }
}

.padding-top-sm {
  padding-top: $height_sm_size/2;
  @media (min-width: $screen-md-min) {
    padding-top: $height_sm_size;
  }
}

.padding-top-xs {
  padding-top: $height_xs_size/2;
  @media (min-width: $screen-md-min) {
    padding-top: $height_xs_size;
  }
}

.padding-top-xxs {
  padding-top: $height_xxs_size;
}

.padding-bottom-lg {
  padding-bottom: $height_lg_size/2;
  @media (min-width: $screen-md-min) {
    padding-bottom: $height_lg_size;
  }
}

.padding-bottom-md {
  padding-bottom: $height_md_size/2;
  @media (min-width: $screen-md-min) {
    padding-bottom: $height_md_size;
  }
}

.padding-bottom-sm {
  padding-bottom: $height_sm_size/2;
  @media (min-width: $screen-md-min) {
    padding-bottom: $height_sm_size;
  }
}

.padding-bottom-xs {
  padding-bottom: $height_xs_size/2;
  @media (min-width: $screen-md-min) {
    padding-bottom: $height_xs_size;
  }
}

.padding-bottom-xxs {
  padding-bottom: $height_xxs_size;
}

.lateral_pading {
  padding-left: 15px;
  padding-right: 15px;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.no-margin-margin-top {
  margin-top: 0;
}
// Animating
@mixin animate( $property, $duration, $easing) {
  -webkit-transition: $property $duration $easing;
  -moz-transition: $property $duration $easing;
  -o-transition: $property $duration $easing;
  transition: $property $duration $easing;
}
// background_colors
.background_color_gray_light {
  background-color: #cccccc;
}

.background_color_black {
  background-color: black;
}
/**************************************
  links with images
**************************************/
a:active,
a:link,
a:visited {
  img {
    opacity: 1;
    -webkit-transform: translateZ(0);
    @include animate(all, 0.2s, linear);
  }
}

a:focus,
a:hover {
  color: $gray-light;

  img {
    opacity: 0.8;
  }
}
/**************************************
  // font-weight
**************************************/
.text_weight_light {
  font-weight: 300;
}

.text_weight_regular {
  font-weight: 400;
}

.text_weight_bold {
  font-weight: 700;
}
/**************************************
MEDIA QUERIES FOR ALIGNMENT
**************************************/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .text-align_from_center_to_left {
    text-align: center;
  }

  .text-align_from_center_to_right {
    text-align: center;
  }

  .text-align_from_right_to_left {
    text-align: right;
  }

  .text-align_from_left_to_right {
    text-align: left;
  }

  .text-align_from_center_to_left_mobile {
    text-align: center;
  }

  .text-align_from_center_to_right_mobile {
    text-align: center;
  }

  .text-align_from_right_to_left_mobile {
    text-align: right;
  }

  .text-align_from_left_to_right_mobile {
    text-align: left;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .text-align_from_center_to_left {
    text-align: center;
  }

  .text-align_from_center_to_right {
    text-align: center;
  }

  .text-align_from_right_to_left {
    text-align: right;
  }

  .text-align_from_left_to_right {
    text-align: left;
  }

  .text-align_from_center_to_left_mobile {
    text-align: center;
  }

  .text-align_from_center_to_right_mobile {
    text-align: center;
  }

  .text-align_from_right_to_left_mobile {
    text-align: right;
  }

  .text-align_from_left_to_right_mobile {
    text-align: left;
  }
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .text-align_from_center_to_left {
    text-align: center;
  }

  .text-align_from_center_to_right {
    text-align: center;
  }

  .text-align_from_right_to_left {
    text-align: center;
  }

  .text-align_from_left_to_right {
    text-align: center;
  }

  .text-align_from_center_to_left_mobile {
    text-align: left;
  }

  .text-align_from_center_to_right_mobile {
    text-align: right;
  }

  .text-align_from_right_to_left_mobile {
    text-align: left;
  }

  .text-align_from_left_to_right_mobile {
    text-align: right;
  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .text-align_from_center_to_left {
    text-align: left;
  }

  .text-align_from_center_to_right {
    text-align: right;
  }

  .text-align_from_right_to_left {
    text-align: left;
  }

  .text-align_from_left_to_right {
    text-align: right;
  }

  .text-align_from_center_to_left_mobile {
    text-align: left;
  }

  .text-align_from_center_to_right_mobile {
    text-align: right;
  }

  .text-align_from_right_to_left_mobile {
    text-align: left;
  }

  .text-align_from_left_to_right_mobile {
    text-align: right;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .text-align_from_center_to_left {
    text-align: left;
  }

  .text-align_from_center_to_right {
    text-align: right;
  }

  .text-align_from_right_to_left {
    text-align: left;
  }

  .text-align_from_left_to_right {
    text-align: right;
  }

  .text-align_from_center_to_left_mobile {
    text-align: left;
  }

  .text-align_from_center_to_right_mobile {
    text-align: right;
  }

  .text-align_from_right_to_left_mobile {
    text-align: left;
  }

  .text-align_from_left_to_right_mobile {
    text-align: right;
  }
}
/* ============================================================
  GO TOP button
============================================================ */
.cd-top {
  display: inline-block;
  height: 30px;
  width: 30px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  //background: rgba(black, 0.8) url("../images/cd-top-arrow.svg") no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.cd-top.cd-fade-out,
.cd-top.cd-is-visible,
.no-touch .cd-top:hover {
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: 0.5;
}

.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}
/* ============================================================
  IMAGES CONTAINER
============================================================ */
// background_img
@mixin background_img {
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center !important;
}

.background_img {
  @include background_img;
}
// big_banner with opacity
.banner_bg {
  @include background_img;
  padding: 0;
  height: 100vh;
  @media (min-width: $screen-sm-min) {
    height: 50vh;
  }
  @media (min-width: $screen-md-min) {
    height: 80vh;
  }

  .div_alpha {
    padding: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    .text_cont {
      height: 100%;

      .text-white {
        color: white;
      }
    }
  }
}
/* ============================================================
  // reposive video . Fluid Width Video
============================================================ */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* ============================================================
  // centering column
============================================================ */
.col-centered {
  float: none;
  margin: inherit auto;
}
/* ============================================================
  // col same height_xxs_size
============================================================ */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  //background: pink;
  [class^='col-'] {
    //min-height: 320px;
  }
}
