/**
 *  BUTTONS
 */

// reset default buttons
button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.button {
  $button-meta: map-get($button-sizes, normal);

  background-color: $button-bg-color;
  border: 1px solid $button-border-color;
  border-radius: $button-border-radius;
  color: $button-text-color;
  display: inline-block;
  font-family: $basefont;
  font-size: map-get($button-meta, fontSize);
  font-weight: 700;
  line-height: #{map-get($button-meta, lineHeight)}em;
  margin: 10px;
  padding: map-get($button-meta, paddingTB) map-get($button-meta, paddingLR);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity .2s ease-in-out;
  white-space: nowrap;

  &:focus,
  &:hover,
  &:active {
    color: $text-body;
  }

  &:hover {
    cursor: pointer;
    opacity: .8;
    text-decoration: none;
  }

  &:active {
    opacity: 1;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  // Sizes
  &.button {
    &-big {
      $button-meta: map-get($button-sizes, big);

      border-radius: $button-border-radius;
      font-size: map-get($button-meta, fontSize);
      line-height: #{map-get($button-meta, lineHeight)}em;
      padding: map-get($button-meta, paddingTB) map-get($button-meta, paddingLR);

      @include breakpoint(bp-large) {
        padding: map-get($button-meta, paddingTB) (map-get($button-meta, paddingLR) + 10px);
      }
    }

    &-small {
      $button-meta: map-get($button-sizes, small);

      border-radius: $button-border-radius;
      font-size: map-get($button-meta, fontSize);
      line-height: #{map-get($button-meta, lineHeight)}em;
      padding: map-get($button-meta, paddingTB) map-get($button-meta, paddingLR);

    }

    &-huge {
      $button-meta: map-get($button-sizes, huge);

      border-radius: $button-border-radius;
      font-size: map-get($button-meta, fontSize);
      line-height: #{map-get($button-meta, lineHeight)}em;
      padding: map-get($button-meta, paddingTB) map-get($button-meta, paddingLR);


      @include breakpoint(bp-large) {
        $button-meta: map-get($button-sizes, hugeLg);

        border-radius: $button-border-radius;
        font-size: map-get($button-meta, fontSize);
        line-height: #{map-get($button-meta, lineHeight)}em;
        padding: map-get($button-meta, paddingTB) map-get($button-meta, paddingLR);

      }

      i {
        font-size: 20px;
      }
    }

    &-large {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: $container-small-maxwidth;
      width: 100%;
    }
  }

  // colors
  &.button-primary {
    background-color: $brand-primary;
    border: 1px solid $brand-primary;
    color: $white;

    &:hover {
      color: $white;
    }
  }

  &.button-secondary {
    background-color: $brand-secondary;
    border: 1px solid $brand-secondary;
    color: $white;

    &:hover {
      color: $white;
    }
  }

  &.button-transparent {
    background-color: transparent;
    border: 1px solid transparent;
  }

  &.button-white {
    background-color: $white;
    border: 1px solid $white;
    color: $brand-primary;
  }

  &.button-green {
    background-color: $color-success;
    border-color: $color-success;
    color: $white;
  }

  &.button-red {
    background-color: $color-error;
    border-color: $color-error;
    color: $white;
  }

  // types
  &.button-outlined {
    background-color: transparent;
    border: 1px solid $brand-primary;
    color: $brand-primary;
  }

  &.button-disabled {
    cursor: default;
    opacity: .4;
  }

  &.button-only-icon {
    height: 43px;
    line-height: 43px;
    padding: 0;
    width: 43px;

    i {
      margin-left: 0;
      margin-right: 0;
    }
  }

  // icons on buttons
  i {
    margin-bottom: -2%;
    margin-left: .8em;
    margin-right: .8em;
    position: relative;
    transition: all .3s ease;

    &:last-child {
      margin-right: 0;
    }

    &:first-child {
      margin-left: 0;
    }

    &::before {
      float: left;
    }

    // fix vertical position on large icons
    &.fa-lg{
      margin-bottom: 0;
    }
  }
}

.button-link {
  color: $brand-primary;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;

  i {
    font-size: 18px;
    line-height: 14px;
    margin-bottom: -2px;
    margin-left: 4px;
    margin-right: 8px;
    transition: all .3s ease;

    &::before {
      float: left;
    }
  }
  // (animation rotating icon)
  &.button-link-rotated {
    i {
      transform: rotate(-180deg);
    }
  }
}

// button group
.button-group {
  white-space: nowrap;

  .button {
    display: inline-block;
    margin: 0;

    &:not(:first-child) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    &:not(:last-child) {
      border-bottom-right-radius: 0;
      border-right: 0;
      border-top-right-radius: 0;
    }
  }
}
